<h1 class="titleText">Teacher page</h1>
<mat-form-field class="example-form-field">
  <mat-label>Search student</mat-label>
  <input matInput type="text" [(ngModel)]="searchStr">
  <button mat-button *ngIf="searchStr" matSuffix mat-icon-button aria-label="Clear" (click)="searchStr=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<button class="search-button" mat-raised-button color="primary" (click)="clkButSearchStud()">Search</button>
<mat-list class="list-label">
  <mat-list-item style="font-size: 20px;">Name: {{student.user.firstName}} {{student.user.lastName}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item style="font-size: 20px;">Group: {{student.group}}</mat-list-item>
</mat-list>
<p (mouseover)="update();" style="padding-top: 20px"></p>
<mat-list class="list-label">
  <mat-list-item style="font-size: 20px;">Name: {{teacher.user.firstName}} {{teacher.user.lastName}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item style="font-size: 20px;">Groups: {{teacher.groups}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item style="font-size: 20px;">Skills: {{teacher.skillsLst}}</mat-list-item>
</mat-list>

  <table style="width: 60%;margin-left: 310px;margin-top: 50px;" mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef> Subject </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="mark">
      <th mat-header-cell *matHeaderCellDef> Mark </th>
      <td mat-cell *matCellDef="let element"> {{element.mark}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element" class="action-link">
        <button style="border-radius: 10px" mat-raised-button color="primary" (click)="openDialog('Update',element)">Edit</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

<button class="exit-button" mat-raised-button color="warn" (click)="clkButExit()">Exit</button>
