<h1 mat-dialog-title>Row Action :: <strong>{{action}}</strong></h1>
<div mat-dialog-content>
  <div *ngIf="action != 'Delete'; else elseTemplate">
    <mat-form-field>
      <input [formControl]="adminFirstNameControl" placeholder="{{action}} Admin" matInput
             [(ngModel)]="local_data.user.firstName">
      <mat-error *ngIf="adminFirstNameControl.errors!=null">
        First name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input [formControl]="adminLastNameControl" matInput [(ngModel)]="local_data.user.lastName">
      <mat-error *ngIf="adminLastNameControl.errors!=null">
        Last name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input [formControl]="adminEmailFormControl" matInput [(ngModel)]="local_data.user.email">
      <mat-error *ngIf="adminEmailFormControl.errors!=null">
        Email is <strong>invalid</strong>
      </mat-error>
    </mat-form-field>

  </div>
  <ng-template #elseTemplate>
    Sure to delete <b>{{local_data.user.firstName}} {{local_data.user.lastName}}</b>?
  </ng-template>
</div>
<div mat-dialog-actions>
  <button [disabled]="!isValidAdminData()&&action!='Delete'" color="primary" mat-button
          (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>
