<h1 mat-dialog-title>Row Action :: <strong>{{action}}</strong></h1>
<div mat-dialog-content>
  <div *ngIf="action != 'Delete'; else elseTemplate">
    <mat-form-field>
      <input [formControl]="teacherFirstNameControl" placeholder="{{action}} Teacher" matInput [(ngModel)]="local_data.user.firstName">
      <mat-error *ngIf="teacherFirstNameControl.errors!=null">
        First name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input [formControl]="teacherLastNameControl" matInput [(ngModel)]="local_data.user.lastName">
      <mat-error *ngIf="teacherLastNameControl.errors!=null">
        Last name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input [formControl]="teacherEmailFormControl" matInput [(ngModel)]="local_data.user.email">
      <mat-error *ngIf="teacherEmailFormControl.errors!=null">
        Email is <strong>invalid</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input [formControl]="teacherWorkExpControl" type="number" matInput [(ngModel)]="local_data.workExperience">
      <mat-error *ngIf="teacherWorkExpControl.errors!=null">
        Work experience is <strong>invalid</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input  matInput [(ngModel)]="local_data.groups">
    </mat-form-field>

    <mat-selection-list #skills [(ngModel)]="local_data.skillsLst"
                        (ngModelChange)="getSkillsList($event)">
      <mat-list-option color="primary" *ngFor="let skill of teacherSkills" [value]="skill">
        {{skill}}
      </mat-list-option>
    </mat-selection-list>
  </div>

  <ng-template #elseTemplate>
    Sure to delete <b>{{local_data.user.firstName}} {{local_data.user.lastName}}</b>?
  </ng-template>
</div>
<div mat-dialog-actions>
  <button [disabled]="!isValidTeacherData()&&action!='Delete'" mat-button color="primary" (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>
